{% extends "layout.html" %}
{% load static %}
{% block content %}
    <div class="m-3 d-flex justify-content-center">
        <div>
            <h1 class="text-center">Camillas</h1>
        </div>
    </div>

    <div class="pt-4">
        <form method="POST">
            {% csrf_token %}

            <div class="form-group mb-2">
                <label for="password">Número:</label>
                <input type="number" class="form-control" id="nombre">
                {% for error in form.numero.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
            </div>

            <div class="form-group mb-2">
                <label for="estacion">Estación:</label>
                <select class="custom-select form-control" id="estacion">
                    <option value="-1" selected>Seleccione...</option>
                    {% for area in areas %}
                    <option value="{{ area.id }}">{{ area.name }}</option>
                    {% endfor %}
                </select>
                {% for error in form.estacion.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
            </div>

            <div class="form-group mb-5">
                <label for="sala">Sala:</label>
                <select class="custom-select form-control" id="sala">
                    <option value="-1" selected>Seleccione...</option>
                    {% for sala in salas %}
                        <option value="{{ sala.id }}">{{ sala }}</option>
                    {% endfor %}
                </select>
                {% for error in form.sala.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
            </div>

            <div class="text-center mb-5 only-btn">
                <a href="{% url 'dashboard' %}" class="btn btn-primary primary-bg">Guardar</a>
            </div>
        </form>
    </div>

    <div id="camilla_list" class="card d-flex m-3 justify-content-center">
        <table class="table">
            <thead class="thead-light">
            <tr>
                <th scope="col">N°</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for camilla in camillas %}
                <tr>
                    <td colspan="6">{{ camilla }}</td>
                    <td><a class="fas fa-edit text-warning"></a></td>
                    <td><a class="fas fa-trash text-danger"></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>



{% endblock %}