{% extends "layout.html" %}
{% load static %}
{% block content %}
    <div class="m-3 d-flex justify-content-center">
        <div>
            <h1 class="text-center">Camillas</h1>
        </div>
    </div>

    <div class="pb-4">
        <form method="POST">
            {% csrf_token %}

            <div class="form-group mb-2">
                <label for="camilla">Camilla:</label>
                <input type="text" class="form-control" id="camilla" name="camilla" value="{{ form.data.camilla }}">
            </div>

            <div class="form-group mb-2">
                <label for="leyenda">Leyenda:</label>
                <input type="text" class="form-control" id="leyenda" name="leyenda" value="{{ form.data.leyenda }}">
            </div>


            <div class="form-group mb-5">
                <label for="fk_sala">Sala:</label>
                <select class="custom-select form-control" id="fk_sala" name="fk_sala">
                    <option value="-1" {% if not form.data.fk_sala %} selected {% endif %}>Seleccione...</option>
                    {% for sala in salas %}

                        <option value="{{ sala.codigo }}"
                                {% if form.data.fk_sala == sala.codigo %} selected {% endif %}
                        >{{ sala.sala }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="text-center mb-5 only-btn">
                <input class="btn btn-primary primary-bg" type="submit" value="Guardar">
            </div>
        </form>
    </div>

    <div id="camilla_list" class="card d-flex m-3 justify-content-center">
        <table class="table">
            <thead class="thead-light">
            <tr>
                <th scope="col">N°</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for camilla in camillas %}
                <tr>
                    <td colspan="6">[ {{ camilla.leyenda }} ] {{ camilla.camilla }} | {{ camilla.sala }} </td>
                    <td><a href="/camilla?codigo={{ camilla.codigo }}" class="fas fa-edit text-warning"></a></td>
                    <td><a href="/camilla?delete={{ camilla.codigo }}" class="fas fa-trash text-danger"></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

{% endblock %}