{% extends "layout.html" %}
{% load static %}
{% block content %}
    <div class="m-3 d-flex justify-content-center">
        <div>
            <h1 class="text-center">Estaciones</h1>
        </div>
    </div>

    <div class="pb-4">
        <form method="POST">
            {% csrf_token %}

            <div class="form-group mb-2">
                <label for="area">Area:</label>
                <input type="text" class="form-control" id="area" name="area" value="{{ form.data.area }}">
            </div>

            <div class="form-group mb-5">
                <label for="leyenda">Leyenda:</label>
                <input type="text" class="form-control" id="leyenda" name="leyenda" value="{{ form.data.leyenda }}">
            </div>


            <div class="text-center mb-5 only-btn">
                <input class="btn btn-primary primary-bg" type="submit" value="Guardar">
            </div>
        </form>
    </div>

    <div id="estacion_list" class="card d-flex m-3 justify-content-center">
        <table class="table">
            <thead class="thead-light">
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for area in areas %}
                <tr>
                    <td colspan="6">[ {{ area.leyenda }} ] {{ area.area }}</td>
                    <td><a href="/estacion?codigo={{ area.codigo }}" class="fas fa-edit text-warning"></a></td>
                    <td><a href="/estacion?delete={{ area.codigo }}" class="fas fa-trash text-danger"></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>



{% endblock %}