{% extends "layout.html" %}
{% load static %}
{% block content %}
    <div class="m-3 d-flex justify-content-center">
        <div>
            <h1 class="text-center">TO DO</h1>
        </div>
    </div>

    <div id="estacion_list" class="card d-flex m-3 justify-content-center">
        <table class="table">
            <thead class="thead-light">
            <tr>
                <th scope="col">Actividades</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td colspan="7">
                    Revisar | Signos Vitales <span class="badge badge-info">S01 - C12</span>
                </td>
                <td><a class="fas fa-check text-success"></a></td>
            </tr>
            <tr>
                <td colspan="7">
                    Revisar | Signos Vitales <span class="badge badge-info">S01 - C12</span>
                </td>
                <td><a class="fas fa-check text-success"></a></td>
            </tr>
            <tr>
                <td colspan="7">
                    Revisar | Signos Vitales <span class="badge badge-info">S01 - C12</span>
                </td>
                <td><a class="fas fa-check text-success"></a></td>
            </tr>
            <tr>
                <td colspan="7">
                    Revisar | Signos Vitales <span class="badge badge-info">S01 - C12</span>
                </td>
                <td><a class="fas fa-check text-secondary"></a></td>
            </tr>
            <tr>
                <td colspan="7">
                    Revisar | Signos Vitales <span class="badge badge-info">S01 - C12</span>
                </td>
                <td><a class="fas fa-check text-secondary"></a></td>
            </tr>
            <tr>
                <td colspan="7">
                    Revisar | Signos Vitales <span class="badge badge-info">S01 - C12</span>
                </td>
                <td><a class="fas fa-check text-secondary"></a></td>
            </tr>
            <tr>
                <td colspan="7">
                    Revisar | Signos Vitales <span class="badge badge-info">S01 - C12</span>
                </td>
                <td><a class="fas fa-check text-secondary"></a></td>
            </tr>
            <tr>
                <td colspan="7">
                    Revisar | Signos Vitales <span class="badge badge-info">S01 - C12</span>
                </td>
                <td><a class="fas fa-check text-secondary"></a></td>
            </tr><tr>
                <td colspan="7">
                    Revisar | Signos Vitales <span class="badge badge-info">S01 - C12</span>
                </td>
                <td><a class="fas fa-check text-secondary"></a></td>
            </tr>

            </tbody>
        </table>

    </div>

{% endblock %}